<h1>Advent of Code 2024: <%= @title %></h1>

<% if @part1 %>
  <p>Part 1 result: <%= @part1 %></p>
  <p>Time taken: <%= @part1_time %>ms</p>
<% end %>

<% if @part2 %>
  <br/>
  <p>Part 2 result: <%= @part2 %></p>
  <p>Time taken: <%= @part2_time %>ms</p>
<% end %>
